<div class="container page-content">
    <div id="watAbout">
        <div id="watAbout-heading">
            <h2>Wat Dhammaprateep NZ</h2>
            <h1 class="font-Charmonman">วัดธรรมประทีป นิวซีแลนด์</h1>
        </div>
        <div id="watAbout-detail" class="row">
            <div class="col-xs-12 col-md-6" >
                <div id="about-box">
                    <img id="about-watpic" src="/app/content/images/monks.jpg" />
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <table class="table">
                    <tr>
                        <td>Address</td>
                        <td>13 Black Rock Roads Newlands Wellington</td>
                    </tr>
                    <tr>
                        <td>เจ้าอาวาส</td>
                        <td>พระครูวิเทศธรรมภาณ (ณัฐวัฒน์ กิตติพโล)</td>
                    </tr>
                    <tr>
                        <td>Telephone</td>
                        <td>021 154 7407</td>
                    </tr>
                    <tr>
                        <td>Facebook</td>
                        <td><a href="https://www.facebook.com/watdhammaprateep" style="color:blue">watdhammaprateep</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="watAbout-regulars">

        </div>
    </div>
</div>
