@font-face {
    font-family: "Charmonman";
    src: url(../content/font/THCharmonmanBold.ttf) format("truetype");
}
@font-face {
    font-family: "Krub";
    src: url(../content/font/THKrubBold.ttf) format("truetype");
}

.font-Charmonman {
    font-family: "Charmonman";
}

.font-Krub {
    font-family: "Krub";
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #fff
}

body {
    font-family: "Arial";
    margin: 0 auto;
    font-size: 16px;
}

p {
    font-weight: 100;
    margin: 0;
}

#footer{
    background-color: #776046;
}

#footer p {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    font-size: 16px;
    color: #fff;
}

/**************************  Navigation ********************************/

.navbar {
    background-color: #b35900;
    margin-bottom: 0px;
    border-radius: 0;
    color: #fff;
}

ul.nav a:hover { color: #b35900 !important; }

/**************************  Home / Title Image ********************************/

.title h1 {
  color: #fff;
  font-size: 8vw;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.title {
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url(../content/images/title.jpg);
}

/**************************  Home / Intro ** ********************************/

#home-intro {
    margin: 40px auto;
}

#home-intropic {
    box-shadow: 5px 1px 5px grey;
}

#home-introheading {
    text-align: center;
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
}

/**************************  Home / Updates **********************************/
#home-updates {
    background-color: #b35900;
    color: #fff;
    text-align: center;
}

#home-updates div div {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 100%;
}
#home-latest-news {
    height: 100%;
}
#home-updates-latestNewsPic {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: auto;
    padding-bottom: 20px;
}

/**************************  Home / quickDhamma  ****************************/
#home-quickDhamma {
    text-align: center;
}

#home-quickDhamma div {
    margin-top: 40px;
    border-top: 1px solid #111;
}

/****************************************************************************/
                  /* media query*/   /* tablet potrati*/
/****************************************************************************/
@media all and (min-width: 768px){
    .title h1 {
    color: #fff;
    font-size: 6vw;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }
  .title {
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(../content/images/title.jpg);
  }
}


/****************************************************************************/
                  /* media query*/   /* tablet landscape*/
/****************************************************************************/
@media all and (min-width: 1024px){

    .title h1 {
            color: #fff;
            font-size: 5vw;
            font-weight: 600;
            text-align: center;
            width: 100%;
      }
      .title {
          height: 330px;
          width: 100%;
          display: flex;
          align-items: center;
          background-size: cover;
          background-position: center;
          background-image: url(../content/images/title.jpg);
      }

      #home-updates div div {
          border-top: none;
          border-bottom: none;
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
      }

}

/****************************************************************************/
          /* media query */   /** desktop **/   /* 1280 & above */
/****************************************************************************/
@media all and (min-width: 1280px){

    .title h1 {
        color: #fff;
        font-size: 3vw;
        font-weight: 600;
        text-align: center;
        width: 100%;
      }
      .title {
        height: 530px;
        width: 100%;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-image: url(../content/images/title.jpg);
      }

}
