@font-face {
    font-family: "Charmonman";
    src: url(/app/content/fonts/THCharmonmanBold.ttf) format("truetype");
}
@font-face {
    font-family: "Krub";
    src: url(/app/content/fonts/THKrubBold.ttf) format("truetype");
}

.font-Charmonman {
    font-family: "Charmonman";
}

.font-Krub {
    font-family: "Krub";
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #fff;
}

body {
    font-family: "Arial";
    margin: 0 auto;
    font-size: 16px;
}

p {
    font-weight: 100;
    margin: 0;
}

/*************** Card snippet ************/
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-date {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-date a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-date a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

#footer{
    background-color: #776046;
}

#footer p {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    font-size: 16px;
    color: #fff;
}

/**************************  Navigation ********************************/

.navbar {
    background-color: #b35900;
    margin-bottom: 0px;
    border-radius: 0;
    color: #fff;
}

.login-nav {
    color: #eee;
    cursor: pointer;
}

ul.nav a:hover { color: #b35900 !important; }

/**************************  Spinner ********************************/
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #111;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/**************************  Page-content ********************************/

.page-content {
    margin-bottom: 20px;
}

/**************************  Home / Title Image ********************************/

.title h1 {
  color: #fff;
  font-size: 8vw;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.title {
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: url(/app/content/images/title.jpg);
}

.admin-panel {
    margin-top: 20px;
    border-top: 1px solid #111;
}
/**************************  Home / Intro ** ********************************/

#home-intro {
    margin: 40px auto;
}

#home-introheading {
    text-align: center;
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
}

/**************************  Home / Updates **********************************/
#home-updates {
    background-color: #b35900;
    color: #fff;
    text-align: center;
}

#home-updates div div {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 100%;
}
#home-latest-news {
    height: 100%;
}
#home-updates-latestNewsPic {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: auto;
    padding-bottom: 20px;
}

/**************************  Home / quickDhamma  ****************************/
#home-quickDhamma {
    text-align: center;
}

#home-quickDhamma div {
    margin-top: 40px;
    border-top: 1px solid #111;
}

/**************************  News ****************************/
 #news-admin {
     margin-top: 40px;
 }

/**************************  Calendar  ****************************/
#calendarCtrl-buttons{
    margin-top: 20px;
}



/**************************  Contact Us  ****************************/

#watAbout{
    margin-top: 20px;
}

#watAbout-heading {
    text-align: center;
    border-bottom: 1px solid #111;
    border-top: 1px solid #111;
}

#watAbout-detail{
    margin-top: 20px;
    margin-bottom: 20px;

}

#watAbout-regulars {
    margin-top: 20px;
    border-top: 1px solid #111;
}

#about-watpic{
    box-shadow: 5px 1px 5px grey;
    width: 100%;
    height: auto;
    display: block;

}

/****************************************************************************/
                  /* media query*/   /* tablet potrati*/
/****************************************************************************/
@media all and (min-width: 768px){
    .title h1 {
    color: #fff;
    font-size: 6vw;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }
  .title {
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(/app/content/images/title.jpg);
  }

  #home-intropic {
      box-shadow: 5px 1px 5px grey;
      width: 100%;
      height: auto;;
      display: block;
  }



}


/****************************************************************************/
                  /* media query*/   /* tablet landscape*/
/****************************************************************************/
@media all and (min-width: 1024px){

    .title h1 {
            color: #fff;
            font-size: 5vw;
            font-weight: 600;
            text-align: center;
            width: 100%;
      }
      .title {
          height: 330px;
          width: 100%;
          display: flex;
          align-items: center;
          background-size: cover;
          background-position: center;
          background-image: url(/app/content/images/title.jpg);
      }

      #home-updates div div {
          border-top: none;
          border-bottom: none;
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
      }

}

/****************************************************************************/
          /* media query */   /** desktop **/   /* 1280 & above */
/****************************************************************************/
@media all and (min-width: 1280px){

    .title h1 {
        color: #fff;
        font-size: 3vw;
        font-weight: 600;
        text-align: center;
        width: 100%;
      }
      .title {
        height: 530px;
        width: 100%;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-image: url(/app/content/images/title.jpg);
      }

}
