<div class='title'></div>
<div class="row" id="home-intro">
    <div class="container">
        <div class="hidden-xs col-md-6">
            <div >
                <img id="home-intropic" src="/app/content/images/intro.jpg" />
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div id="home-introheading">
                <h1>Wat Dhammaprateep</h1>
                <h1 class="font-Charmonman">วัดธรรมประทีป</h1>
            </div>
            <p>
                Blah Blah Blah
            </p>
        </div>
    </div>
</div>
<div id="home-quickDhamma">
    <div class="container">
        <h2 class="font-Charmonman">
            {{vm.quickDhamma}}
        </h2>
        <h2>.....</h2>
    </div>
</div>
<div class="row" id="home-updates">
    <div class="container">
        <div class="col-xs-12 col-md-6" id="home-latest-news">
            <h3>Latest News</h3>

        </div>
        <div class="col-xs-12 col-md-6" id="home-upcoming-event">
            <h3>Upcoming Event</h3>
        </div>
    </div>
</div>
