<div class='title'></div>
<div class="row" id="home-intro">
    <div class="container">
        <div class="hidden-xs col-md-6">
            <div>
                <img id="home-intropic" src="/app/content/images/intro.jpg" />
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div id="home-introheading">
                <h2>Wat Dhammaprateep New Zealand</h2>
                <h2 class="font-Charmonman">วัดธรรมประทีป นิวซีแลนด์</h2>
            </div>
            <div id="home-quickDhamma">
                <h2 class="font-Charmonman">
                    {{vm.quickDhamma}}
                </h2>
                <h2>.....</h2>
            </div>
        </div>
    </div>
</div>
<div class="container page-content">
    <div class="admin-panel" ng-show="vm.isAdmin">
        <h1>Edit Content</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="newNewsName" class="col-xs-2 control-label">Quick Dhamma</label>
                <div class="col-xs-10">
                    <textarea class="form-control" rows="5" ng-model="vm.quickDhamma"></textarea>
                </div>
            </div>
            <div class="col-xs-offset-2 col-xs-10">
                <button class="btn btn-success" ng-click="vm.updateQuickDhamma()">Save</button>
            </div>
        </form>
    </div>
</div>
