<div class="container page-content">
    <div id="watAddress">
        <div id="watAddress-heading">
            <h1>Wat Dhammaprateep</h1>
            <h1 class="font-Charmonman">วัดธรรมประทีป</h1>
        </div>
        <div id="watAddress-detail" class="row">
            <div class="col-xs-12 col-md-6" >
                <div id="contactus-box">
                    <img id="contactus-watpic" src="/app/content/images/watBoard.jpg" />
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <p>Address      : Wat Dhammaprateep 13 Black Rock Roads Newlands Wellington</p>
                <p>Telephone    : 021 154 7407</p>
            </div>
        </div>
    </div>
</div>
